* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #013a63;
}

nav {
    padding-left: 3rem !important;
    padding-right: 1rem !important;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Marcellus', serif;
}

.navbar-brand {
    font-family: 'Marcellus', serif;
}

.showcase {
    color: white;
    font-family: serif !important;
    height: 90vh !important;
    text-align: center;
    padding: 250px 0;


}

.showcase button {
    width: 15rem !important;
    border-radius: 20px;
}

.showcase button:hover {
    background-color: #013a63;
}


hr {
    color: white;
    margin: 50px;
}



#services {
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 450px;
    margin: 50px;
    font-family: serif;
    /* background-color: whitesmoke; */
}


#services img{
    padding: 20px;
}

.card {
    padding: 1rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}




.card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card h5{
    padding: 5px;
   font-weight: bold;
}


#services h1 {
    font-family: 'Marcellus', serif;
   
    
}


.card button {
    width: 10rem !important;
    border-radius: 20px;
    
}


#contact{
  
    text-align: center;
    color: white;
}


#contact h6{
    margin: 20px;
    font-family: serif;
}

.icons{
    width: 30px !important;
    height: 30px !important;
    margin: 10px;
}


footer{
    
    font-family: 'Marcellus', serif;
    color: white;
    text-align: center;
}








